
mixin productRow(productID,name,price, rating,createdAt,company) 
    .courseDetails 
        h3 Product ID : #{productID}   
            p Name: #{name}
            p  Price : #{price}  
            p Rating : #{rating}
            p Created At :#{createdAt}
            p Company : #{company}

doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title product mart
        link(rel='stylesheet' type ="text/css" href='/css/style.css')
        
        

    
        include _header
        .content1 
            h2 -----------All available products are---------
            each product in products
                +productRow(product.productID,product.name,product.price,product.rating, product.createdAt, product.company)

        script(src='/js/bundle.js')